<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.min.css') }}">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors/color-1.css') }}">
    <title>StreetLabs - Administrador</title>
</head>
<body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">
                <img src="{{ url_for('static', filename='/img/Logo.png') }}" alt="StreetLabs">
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Início</a>
                    </li>

                    <li class="nav__item">
                        <a href="/shop" class="nav__link">Shop</a>
                    </li>

                    <li class="nav__item">
                        <a href="/cart" class="nav__link">Carrinho</a>
                    </li>

                    <li class="nav__item">
                        <a href="/aboutus" class="nav__link">Quem somos</a>
                    </li>

                    <li class="nav__item">
                        <a href="/contact" class="nav__link">Contato</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="bx bx-x"></i>
                </div>
            </div>
            <div class="nav__btns">

                <div class="nav__search" id="nav-search">
                    <a href="/procura" class="bx bx-search"></a>
                </div>
                {% if 'username' not in session %}
                <div class="login__toggle" id="login-toggle">
                    <i class="bx bx-user"> </i>
                </div>
                {% endif %}
                {% if 'username' in session %}
                <img src="{{ url_for('static', filename='/img/profile-pic.png') }}" class="user__pic" id="userPic">
                <div class="sub-menu-wrap" id="subMenu">

                    <div class="sub-menu">
                        <div class="user-info">
                            <img src="{{ url_for('static', filename='/img/profile-pic.png') }}">
                            <h3> {{ session['username'] }} </h3>
                        </div>
                        <hr>

                        <a href="/profile" class="sub-menu-link">
                            <i class="bx bx-user-circle"> </i>
                            <p>Meu perfil</p>
                            <span>></span>
                        </a>

                        <a href="/meuspedidos" class="sub-menu-link">
                            <i class="bx bx-package"> </i>
                            <p>Meus Pedidos</p>
                            <span>></span>
                        </a>
                        
                        <a href="/favorito" class="sub-menu-link">
                            <i class="bx bx-heart"> </i>
                            <p>Meus Favoritos</p>
                            <span>></span>
                        </a>

                        <a href="/logout" class="sub-menu-link">
                            <i class="bx bx-log-out"> </i>
                            <p>Sair</p>
                            <span>></span>
                        </a>
                        
                    </div>
                </div>
                {% endif %}

                <div class="nav__shop" id="cart-shop">
                    <i class="bx bx-shopping-bag"> </i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="bx bx-grid-alt"> </i>
                </div>

                <div>
                    <img src="{{ url_for('static', filename='/img/moon.png') }}" id="moon">
                </div>

            </div>
        </nav>
    </header>

    <!--=============== CART ===============-->
    <div class="cart" id="cart">
        <i class="bx bx-x cart__close" id="cart-close"></i>
        
        <h2 class="cart__title-center">Carrinho</h2>

        <div class="cart__container">
            <article class="cart__card">
                <div class="cart__box">
                    <img src="{{ url_for('static', filename='/img/cart-1.png') }}" alt="" class="cart__img">
                </div>

                <div class="cart__details">
                    <h3 class="cart__title">Tênis Air Jordan</h3>
                    <span class="cart__price">R$ 240,00</span>

                    <div class="cart__amount">
                        <div class="cart__amount-content">
                            <span class="cart__amount-box">
                                <i class="bx bx-minus"></i>
                            </span>

                            <span class="cart__amount-number">1</span>

                            <span class="cart__amount-box">
                                <i class="bx bx-plus"></i>
                            </span>
                        </div>

                        <i class="bx bx-trash-alt cart__amount-trash"></i>
                    </div>
                </div>
            </article>

            <article class="cart__card">
                <div class="cart__box">
                    <img src="{{ url_for('static', filename='/img/cart-2.png') }}" alt="" class="cart__img">
                </div>

                <div class="cart__details">
                    <h3 class="cart__title">Shorts Esportivo Berserk</h3>
                    <span class="cart__price">R$ 50,00</span>

                    <div class="cart__amount">
                        <div class="cart__amount-content">
                            <span class="cart__amount-box">
                                <i class="bx bx-minus"></i>
                            </span>

                            <span class="cart__amount-number">1</span>

                            <span class="cart__amount-box">
                                <i class="bx bx-plus"></i>
                            </span>
                        </div>

                        <i class="bx bx-trash-alt cart__amount-trash"></i>
                    </div>
                </div>
            </article>

            <article class="cart__card">
                <div class="cart__box">
                    <img src="{{ url_for('static', filename='/img/cart-3.png') }}" alt="" class="cart__img">
                </div>

                <div class="cart__details">
                    <h3 class="cart__title">Calças Jogger 2024</h3>
                    <span class="cart__price">R$ 45,00</span>

                    <div class="cart__amount">
                        <div class="cart__amount-content">
                            <span class="cart__amount-box">
                                <i class="bx bx-minus"></i>
                            </span>

                            <span class="cart__amount-number">1</span>

                            <span class="cart__amount-box">
                                <i class="bx bx-plus"></i>
                            </span>
                        </div>

                        <i class="bx bx-trash-alt cart__amount-trash"></i>
                    </div>
                </div>
            </article>
        </div>

        <div class="cart__prices">
            <span class="cart__prices-item">3 Produtos</span>
            <span class="cart__prices-total">Total R$ 335,00</span>
        </div>
    </div>
    {% if 'username' not in session %}
    <!--=============== LOGIN ===============-->
    <div class="login" id="login">
        <i class="bx bx-x login__close" id="login-close"></i>

        <h2 class="login__title-center">Login</h2>
        <form action="/autenticacao" method="POST" class="login__form grid">
            <div class="login__content">
                <label for="" class="login__label">Username</label>
                <input type="text" class="login__input" name="username">
            </div>

            <div class="login__content">
                <label for="" class="login__label">Senha</label>
                <input type="password" class="login__input" name="password">
            </div>

            <div>
                <input type="submit" class="button" value="Entrar">
            </div>

            <div>
                <p class="signup">Nãe é cadastrado? <a href="/registro">Cadastrar-se agora.</a></p>
            </div>
        </form>
    </div>
    {% endif %}


    <!--=============== MAIN ===============-->
    <main class="main">
        <!--=============== ADM ===============-->
        <section class="adm__container container">
            <h2 class="breadcrumb__title">Administrador</h2>
            <h3 class="breadcrumb__subtitle">Inicio > <span>Administrador</span></h3>
            
            <div class="containeradm">

                <div class="admin-product-form-container">

                    <form action="/adicionar" method="post" enctype="multipart/form-data">
                        <div class="add">
                            <h3>Adicionar um novo Produto</h3>
                        </div>
                        <input type="text" placeholder="Insira o nome do produto" name="nome" class="box" required>
                        <input type="text" placeholder="Insira a descrição" name="descricao" class="box" required>
                        <input type="text" placeholder="Insira o valor" name="preco" class="box" required>
                        <input type="text" placeholder="Insira a quantidade" name="quantidade" class="box" required>
                
                        <div class="dropdown">
                            <label for="categoria" class="dropbtn">Categoria:</label>
                            <select id="categoria" name="categoria" required>
                                <option value="camisas">Camisas</option>
                                <option value="blusas">Blusas</option>
                                <option value="saias_minissaia">Saias & Minissaia</option>
                                <option value="calcas">Calças</option>
                                <option value="tenis">Tênis</option>
                                <option value="jaqueta">Jaqueta</option>
                                <option value="macacao">Macacão</option>
                                <option value="bone">Boné</option>
                                <option value="sandalias">Sandálias</option>
                                <option value="cargo_pants">Cargo Pants</option>
                                <option value="joggers">Joggers</option>
                                <option value="shorts">Shorts</option>
                                <option value="sueter">Suéter</option>
                                <option value="pijama">Pijama</option>
                                <option value="long_sleeve">Long Sleeve</option>
                            </select>
                        </div>
                
                        <div class="dropdown">
                            <label for="tamanho" class="dropbtn">Selecione o Tamanho:</label>
                            <select id="tamanho" name="tamanho" required>
                                <option value="p">P</option>
                                <option value="m">M</option>
                                <option value="g">G</option>
                                <option value="gg">GG</option>
                                <option value="g1">G1</option>
                                <option value="g2">G2</option>
                                <option value="todos">Todos os Tamanhos</option>
                            </select>
                        </div>
                
                        <div class="dropdown">
                            <label for="tamanho-tenis" class="dropbtn">Selecione o Tamanho para Tênis:</label>
                            <select id="tamanho-tenis" name="tamanho_tenis">
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="todos">Todos os Tamanhos</option>
                            </select>
                        </div>
                
                        <div class="dropdown">
                            <label for="cor" class="dropbtn">Selecione a Cor:</label>
                            <select id="cor" name="cor" required>
                                <option value="preto">Preto</option>
                                <option value="branco">Branco</option>
                                <option value="vermelho">Vermelho</option>
                                <option value="rosa">Rosa</option>
                                <option value="amarelo">Amarelo</option>
                                <option value="roxo">Roxo</option>
                                <option value="verde">Verde</option>
                                <option value="azul">Azul</option>
                                <option value="laranja">Laranja</option>
                                <option value="todas">Todas as Cores</option>
                            </select>
                        </div>
                
                        <div class="dropdown">
                            <label for="estilo" class="dropbtn">Estilo:</label>
                            <select id="estilo" name="estilo" required>
                                <option value="casual">Casual</option>
                                <option value="streetwear">Streetwear</option>
                                <option value="fofo">Fofo</option>
                                <option value="festa">Festa</option>
                                <option value="elegante">Elegante</option>
                            </select>
                        </div>
                
                        <input type="file" accept="image/png, image/jpeg, image/jpg" name="image" class="box" required>
                        <input type="submit" class="btn" value="Adicionar Produto">
                    </form>
                
                </div>
                
                
                <div class="product-display">
                    <table class="product-display-table">
                        <thead>
                            <tr>
                                <th>Imagem</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Valor</th>
                                <th>Estoque</th>
                                <th>Tamanho</th>
                                <th>Cor</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in produtos %}
                            <tr>
                                
                                <td><img src="{{ url_for('static', filename='uploads/' + produto[10]) }}" height="100" alt="Imagem do produto" class="product-img"></td>
                                <td>{{ produto[1] }}</td> <!-- Nome -->
                                <td>{{ produto[2] }}</td> <!-- Descrição -->
                                <td>{{ produto[3] }}</td> <!-- Preço -->
                                <td>{{ produto[4] }}</td> <!-- Quantidade -->
                                <td>{{ produto[5] }}</td> <!-- Tamanho -->
                                <td>{{ produto[7] }}</td> <!-- Cor -->
                                <td>
                                    <a href="/editar/{{ produto[0] }}" class="btn"> <i class="fas fa-edit"></i> Editar </a>
                                    <form action="/deletar/{{ produto[0] }}" method="POST" style="display:inline;">
                                        <button class="btn"> <i class="fas fa-trash"></i> Deletar </button>
                                    </form>
                                    

                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="8">Nenhum produto encontrado</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>              
                
             </div>
        </section>
    </main>
  
    <!--=============== FOOTER ===============-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <!--FOOTER CONTEUDO 1-->
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <i class="bx bxs-shopping-bags footer__logo-icon"></i> StreeLabs
                </a>

                <p class="footer__description">Aproveite <br> as compras!</p>

                <div class="footer__social">
                    <a href="#" class="footer__social-link"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="footer__social-link"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="footer__social-link"><i class="bx bxl-twitter"></i></a>
                </div>
            </div>

            <!--FOOTER CONTEUDO 2-->
            <div class="footer__content">
                <h3 class="footer__tittle">Fale Conosco</h3>

                <ul class="footer__links">
                    <li><a href="/contact" class="footer__link">Suporte</a></li>
                </ul>
            </div>

            <!--FOOTER CONTEUDO 3-->
            <div class="footer__content">
                <h3 class="footer__tittle">Nossos Serviços</h3>

                <ul class="footer__links">
                    <li><a href="/shop" class="footer__link">Shop</a></li>
                    <li><a href="/#stepslink" class="footer__link">Como comprar</a></li>
                </ul>
            </div>

            <!--FOOTER CONTEUDO 4-->
            <div class="footer__content">
                <h3 class="footer__tittle">Nossa Empresa</h3>

                <ul class="footer__links">
                    <li><a href="/aboutus" class="footer__link">Quem Somos</a></li>
                    <li><a href="/registro" class="footer__link">Registro</a></li>
                </ul>
            </div>
        </div>
       <span class="footer__copy">&#169; Grimm Graphic Designer. All rights reserved.</span>
    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
        <div class="bx bxs-up-arrow-alt scrollup__icon"></div>
    </a>
    <!--=============== SWIPER JS ===============-->
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>

    <!--=============== JS ===============-->
    <script>
        const moonImg = "{{ url_for('static', filename='img/moon.png') }}";
        const sunImg = "{{ url_for('static', filename='img/sun.png') }}";
    </script>    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>